<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <ul class="people">
    <% for(var i=0; i<people.length; i++) {%>
      <li class="people">
        <span><%= people[i].firstName %></span>
        <span><%= people[i].lastName %></span>
      </li>
    <% } %>
  </ul>

  <form action="/people" method="POST">
    <input type="text" placeholder="First Name" name="firstName">
    <input type="text" placeholder="Last Name" name="lastName">
    <button type="submit">Submit</button>
  </form>

  <div>
    <h4>Nobody expects the Spanish armada</h4>
    <button id="update">invasion!</button>
  </div>
  <div>
    <h4>Delete Spanish inquisition</h4>
    <button id="delete">Delete</button>
  </div>
  <script src="main.js"></script>
</body>
</body>
</html>
